
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>F2Show</title>
</head>
<body>
    <div> 
    </div>
    <form action="~/Test/F2" method="post">
        <input type="text"  name="name"/>
        <input type="text" name="age" />
        <input type="submit" name="submit" />
    </form>
</body>
</html>
